In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
dataset = pd.read_csv('salarios.csv')
dataset.head(5)

   Aexperiencia  Salario
0          10.0    42500
1           8.0    36302
2           5.4    35000
3           2.5    18103
4           1.0    15000

In [4]:
dataset.shape

(30, 2)

In [10]:
x = dataset.iloc[:, :-1].values
#x = dataset.loc[:,'Aexperiencia'].values   
y = dataset.iloc[:, 1].values
#y = dataset.Salario.values
x,y

(array([[10. ],
        [ 8. ],
        [ 5.4],
        [ 2.5],
        [ 1. ],
        [ 8. ],
        [ 4. ],
        [ 6. ],
        [ 2. ],
        [10. ],
        [ 4. ],
        [ 7. ],
        [ 3. ],
        [ 5. ],
        [ 2. ],
        [ 5. ],
        [ 3. ],
        [ 2. ],
        [ 3. ],
        [ 2. ],
        [ 5. ],
        [ 3.4],
        [ 5.3],
        [ 2.1],
        [ 9.2],
        [10. ],
        [ 3.2],
        [10. ],
        [ 4. ],
        [ 1. ]]),
 array([42500, 36302, 35000, 18103, 15000, 37000, 26300, 35201, 18302,
        42000, 27000, 35201, 19201, 28000, 17000, 33402, 19000, 18200,
        19000, 17301, 28000, 20000, 27900, 17500, 40000, 42500, 18300,
        40000, 25000, 15000], dtype=int64))

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)  
#test_size: dividir datos (0.2 quieres decir que estamos asignando el 80% de entrenamiento)
#Debe ser (70% u 80% de Entrenamiento y el restante con el que se va a validar el modelo )
#Random_state: si vamos a tener que modificar esos datos, en 0 se queda igual

In [12]:
X_train

array([[10. ],
       [ 7. ],
       [ 2. ],
       [ 5.3],
       [ 8. ],
       [ 3. ],
       [ 2. ],
       [ 2. ],
       [ 2.1],
       [ 5. ],
       [ 8. ],
       [ 1. ],
       [ 4. ],
       [ 1. ],
       [ 3. ],
       [ 2. ],
       [10. ],
       [ 6. ],
       [10. ],
       [ 2.5],
       [10. ],
       [ 3.4],
       [ 5. ],
       [ 3. ]])

In [13]:
Y_train

array([40000, 35201, 18200, 27900, 37000, 19000, 18302, 17000, 17500,
       28000, 36302, 15000, 26300, 15000, 19000, 17301, 42000, 35201,
       42500, 18103, 42500, 20000, 33402, 19201], dtype=int64)