In [1]:
from absenteeism_module import *
model = absenteeism_model('model')

model.load_and_clean_data('Absenteeism_new_data.csv')

model.predicted_outputs()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.134913,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.910004,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.328915,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.256853,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.777386,1
5,1,0.0,0,0,6,225,28,24,0,1,2,0.778412,1
6,1,0.0,0,0,6,118,46,25,0,2,0,0.667358,1
7,0,0.0,0,1,6,179,30,19,1,0,0,0.134913,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.150550,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.558061,1
10,0,0.0,0,1,6,378,36,21,0,2,4,0.592948,1
11,0,0.0,1,0,6,118,50,31,0,1,0,0.706903,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.635870,1
13,0,0.0,0,1,6,179,30,19,1,0,0,0.134913,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.182371,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.179268,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.706903,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.526324,1
18,0,0.0,0,1,6,291,40,25,0,1,1,0.431392,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.602443,1
20,0,0.0,0,1,7,118,37,28,0,0,0,0.194657,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.193277,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.632640,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.632640,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.193277,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.597039,1
26,0,0.0,1,0,7,233,31,21,1,1,8,0.704276,1
27,1,0.0,0,0,7,228,58,22,0,2,1,0.793520,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.194657,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.793520,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.421617,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.194657,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.659341,1
33,0,0.0,0,1,7,225,28,24,0,1,2,0.402059,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.977072,1
35,1,0.0,0,0,7,289,33,30,0,2,1,0.945058,1
36,1,0.0,0,0,7,235,37,29,1,1,1,0.834336,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.099471,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.454342,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.141267,0

In [3]:
import pymysql

In [4]:
conn = pymysql.connect(database = 'predicted_outputs',user = 'root',password = 'Cooperboy0071985')

In [5]:
cursor = conn.cursor()

# Checkpoint 'df_new_obs'

In [6]:
df_new_obs = model.predicted_outputs()
df_new_obs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.134913,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.910004,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.328915,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.256853,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.777386,1

## Execute

In [7]:
cursor.execute('SELECT * FROM predicted_outputs')

0

## Creating the INSERT statement

In [8]:
insert_query = 'INSERT INTO predicted_outputs VALUES'

In [9]:
insert_query

'INSERT INTO predicted_outputs VALUES'

In [10]:
df_new_obs.shape

(40, 13)

In [11]:
df_new_obs.columns.values[6]

'Age'

In [12]:
df_new_obs[df_new_obs.columns.values[6]][0]

30

In [13]:
df_new_obs['Age']

0     30
1     28
2     34
3     40
4     34
5     28
6     46
7     30
8     37
9     37
10    36
11    50
12    31
13    30
14    48
15    33
16    50
17    30
18    40
19    30
20    37
21    31
22    37
23    37
24    31
25    43
26    31
27    58
28    37
29    58
30    33
31    37
32    28
33    28
34    31
35    33
36    37
37    40
38    39
39    53
Name: Age, dtype: int64

In [14]:
df_new_obs[df_new_obs.columns.values[6]][0]

30

In [15]:
for i in range(df_new_obs.shape[0]):
    insert_query += '(' 
    
    for j in range(df_new_obs.shape[1]):
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ', '
    
    insert_query = insert_query[:-2] + '), '

In [16]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.13491296970139002, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.9100044513839629, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.3289150135733378, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.25685291509862684, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7773856366480213, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7784116569496891, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.6673583976385246, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.13491296970139002, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.1505500137866999, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5580614525388737, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.5929480432474922, 1), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.7069033657023304, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.6358698930068495, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.13491296970139002, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.18237102340717562, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.17926829499780897, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.7069033657023304, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.5263235769285796, 1), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.4313923612457391, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.6024429343217893, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.19465672229348144, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.1932773514529833, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.6326403972504803, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.6326403972504803, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.1932773514529833, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5970387717936296, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.7042763544799957, 1), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.7935204973018134, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.19465672229348144, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.7935204973018134, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.42161665297434064, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.19465672229348144, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.6593412585117282, 1), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.40205855349359937, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9770720796471924, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9450580178075678, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.834336098544944, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.09947076316823, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.45434158120443785, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.1412670813110942, 0), '

In [17]:
insert_query = insert_query[:-2] + ';'

In [18]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.13491296970139002, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.9100044513839629, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.3289150135733378, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.25685291509862684, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7773856366480213, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7784116569496891, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.6673583976385246, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.13491296970139002, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.1505500137866999, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5580614525388737, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.5929480432474922, 1), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.7069033657023304, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.6358698930068495, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.13491296970139002, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.18237102340717562, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.17926829499780897, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.7069033657023304, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.5263235769285796, 1), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.4313923612457391, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.6024429343217893, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.19465672229348144, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.1932773514529833, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.6326403972504803, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.6326403972504803, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.1932773514529833, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5970387717936296, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.7042763544799957, 1), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.7935204973018134, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.19465672229348144, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.7935204973018134, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.42161665297434064, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.19465672229348144, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.6593412585117282, 1), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.40205855349359937, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9770720796471924, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9450580178075678, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.834336098544944, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.09947076316823, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.45434158120443785, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.1412670813110942, 0);'

In [19]:
cursor.execute(insert_query)

40

In [20]:
conn.commit()

In [21]:
conn.close()