In [32]:
import pandas as pd
file = pd.read_csv('D:\Cursos Analisis de BI\Python\CSV.csv')
file

  username password
0  Rodrigo     1234
1     Aldo     abcd
2     Nora      zxy

In [33]:
import pymysql
conn = pymysql.connect(database = 'dbpython',user = 'root',password = 'Cooperboy0071985')
cursor = conn.cursor()

In [34]:
file.shape

(3, 2)

In [35]:
file.columns.values[0]

'username'

In [36]:
insert_query = ""
insert_query

''

In [37]:
for i in range(file.shape[0]):
    insert_query += "[("
    
    for j in range(file.shape[1]):
        insert_query += (str("'" + file[file.columns.values[j]][i] + "'") + ", ") 
       
    insert_query = insert_query[:-2] + "), "

In [38]:
insert_query

"[('Rodrigo', '1234'), [('Aldo', 'abcd'), [('Nora', 'zxy'), "

In [39]:
insert_query = insert_query[:-2] + ';]'

In [40]:
insert_query

"[('Rodrigo', '1234'), [('Aldo', 'abcd'), [('Nora', 'zxy');]"